body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: greenyellow;
}

.quem-somos{
    background-color: black;
    color: white;
}

.margin{   
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: blue;
}

.bg-footer{
    background-color: black;
    color: white;
}